faiss-cpu
google-generativeai
huggingface_hub
langchain
langchain_community
langchain_core
langchain_experimental
langchain-google-genai
langchain_groq
neo4j
nltk
pdf2image
pdfplumber
Pillow
pinecone
PyAudio
pylatexenc
pyperclip
pytesseract
python-docx
python-dotenv
SpeechRecognition
streamlit
tesseract
torch
transformers